body{
    background-color: #000;
}
.container{
    
    margin-top: 10%;
    
}
.time{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px solid red;

}
h1{
    color: red;
    font-size: 70px;
    font-family: monospace;
    text-align: center;
    margin-top: -60px;
}
h2{
    color: white;
    text-align: center;
     font-size: 70px;
     font-family: sans-serif;
}